{% extends 'base.html' %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <style>
    /* Styling for the back "button" */
    .backButton{
        color: black;
        text-decoration: none;
        text-align: center;
        display: block;
    }
    /* Styling for the back "button" when mouse HOVERS over it */
    .backButton:hover {
        color: #F46471;
        text-decoration: underline;
    }

    .iframe_caldendar {
        width: 300px;
        margin: 0px;
        display: block;
        text-align: center;
        margin-bottom: 0px;
    }
    h1 {
        text-align: center;
    }
    iframe {
        margin: 0px;
    }
</style>
<h1>EVENTS</h1> <!-- Page title -->


<!-- Google Calendar embedded -->
<div class="iframe_caldendar">{{ iframe_code|safe }}</div>
<br>

<!-- Back button to home page -->
<a class= "backButton" href="{% url 'home' %}">← Back</a>
{% endblock %}
