/* styles.css */

:root {
    --background_color: #F46471;
    --font: Roboto;
    --visibile: True;
    --font_color_title: #FFFFFF;
    --font_color_timer: #000000;
    --drop_title: "Spooky Halloween Apparel";
}

.img_banner {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.img_banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.drop_title {
    height: 1.5rem;
    display: flex;
    justify-content: center;
}

.timer_banner {
    height: 8.25rem;
    display: block;
    text-align: center;
    background-color: var(--background_color);
    font-family: var(--font);
    color: var(--font_color_title);
    font-weight: medium;
    font-size: 1.125rem;
}

.countdown {
    color: var(--font_color_timer);
    font-weight: medium;
    display: flex;
    justify-content: center;
}

.labels {
    color: var(--font_color_timer);
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: .8rem;
    gap: .8rem;

}

.days {
    transform: translateX(-0.38rem);
}

.seconds {
    transform: translateX(0.38rem);
}

.minutes {
    transform: translateX(0.2rem);
}

.hours {
    transform: translateX(-0.1rem);
}

/* Style for header brand image */
.brand-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    max-width: 300px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}

/* Custom navbar styles*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #F46471;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Cobito', monospace;
}

.navbar-toggler {
    display: none; /* This will be for mobile view; can add styles for toggler later */
    cursor: pointer;
}

.navbar-toggler-icon {
    background-color: #000;
    width: 30px;
    height: 3px;
    display: block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -10px;
}

.navbar-toggler-icon::after {
    top: 10px;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    color: #007bff; /* Hover color for links */
}

.navbar-expand-lg {
    flex-wrap: nowrap;
}

/* Mobile styling (for responsive layout) */
@media (max-width: 992px) {
    .navbar-collapse {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse.show {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
