* {
    box-sizing: border-box;
}


.order-type h1{
    text-align: center;
}


.delivery-selection{
    text-align: center;
    margin: 20px;
    border: solid 1px black;
    border-radius: 5px;
    height: 40px;
    display: flex;
    max-width: 100%;
    padding: 0;
}


.delivery-selection button{
    background-color: transparent;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 5px;
    font-size: 14px;
    border: 0;
}

.delivery-selection button:hover{
    background-color: #F46471;
}


.store-pickup{
    padding: 20px;

}


.store-pickup h4{
    margin: 0px;
}


.store-pickup p{
    margin: 0px;
}


.deliver-home{
    padding: 20px;
    max-width: 100%;
}


.deliver-home h4 {
    margin-bottom: 10px;
}


.deliver-home input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    color: black;
    border: solid 1px grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.deliver-home select{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    border: solid 1px grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.deliver-home input:focus {
    outline: solid 2px #F46471;
    box-shadow: 0 0 5px #F46471;
    border-color: grey; 
}

.deliver-home .typeAddress{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: solid 2px grey;
    margin-bottom: 10px;
    border-radius: 0;
}

.deliver-home .typeAddress:focus {
    outline: none;
    box-shadow: none;
    border-color: grey;
    border-bottom: 2px solid #F46471;
}


.deliver-home button, .store-pickup button {
    background-color: #F46471;
    color: black;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}


.deliver-home button:hover, .store-pickup button:hover {
    color: white;
}




.delivery-selection .tablinks.active, .store-pickup .tablinks.active {
    background-color: #F46471;
}

.error {
    color: black;
}

/* payment button and card input */

.payment-stuff {
    margin: 20px;
}

#payButtonContainer {
    display: flex;
    justify-content: center;
}

#pay-checkout {
    margin-top: 5px;
    padding: 10px 0;

    min-width: 100%;
    min-height: 50px;

    font-size: 24px;
    color: black;

    background-color: white;

    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;

    cursor: pointer;
    align-self: center;
}

#pay-checkout:hover {
    background-color: #F46471;
}

#pay-checkout:active {
    background-color: #F46471;
}

.checkout-page {
    margin: 10px;
    display: flex;

}

#cart-summary-column {
    min-width: 49%;
    margin: 10px;

}

#checkout-column {
    min-width: 49%;
    margin: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .checkout-page {
        margin: 10px;
        display: inline;

        align-content: center;
        justify-content: center;
    }

    #cart-summary-column {
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    #checkout-column {
        text-align: center;
        align-content: center;
        justify-content: center;
    }
}
