footer {
    margin: auto;
    height: 100%;
    background-color: #F46471;
    padding: 10px;
    text-align: center;
}

#footer-header {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin: auto;
    text-align: center;
    padding: 5px;
}

/* input boxes for email and phone number */
.subscribeInput {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    margin: 5px 0;
    background: transparent;
    padding: 5px;
    box-sizing: border-box;

    min-width: 255px;
    min-height: 29px;

    border: 1px solid #000000;
    border-radius: 5px;

    align-self: center;
}

.subscribeInput::placeholder {
    color: black;
}

/* Subscribe button */
.subscribeButton {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.5px;

    padding: 5px;

    color: #F46471;

    background: #000000;
    border: 1px solid transparent;
    border-radius: 5px;
    min-width: 102px;
    min-height: 29px;

    cursor: pointer;
}

.subscribeButton:hover {
    color: #FFFFFF;
}


.littleThings {
    font-size: 10px;
    font-family: Roboto, sans-serif;
}

.instaIcon {
    padding: 10px;
}

#footerLine {
    width:100%;
    /*width: calc(100% + 18px);*/
    color: black;
    margin: 0 0;
    overflow: visible;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    border-bottom: hidden;
}

.subscribe-section {
    display: flex;
    justify-content: center;
}

.subscribe-subsection {
    margin: 0 50px;
}

@media screen and (max-width: 768px) {
    .subscribe-section {
        display: block;
    }

    .subscribe-subsection {
        margin: 10px;
    }

    .subscribeInput {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;

        margin: 5px 0;
        background: transparent;
        padding: 5px;
        box-sizing: border-box;

        min-width: 255px;
        min-height: 29px;

        border: 1px solid #000000;
        border-radius: 5px;

        align-self: center;
    }
}





