.order-summary-title {
text-align: center;
margin-top: 0px;
}


#delivery-details p, #pickup-details p{
margin: 0px;
}


#delivery-details h4{
margin-bottom: 0px;
font-weight: bold;
}


#pickup-details h4{
margin: 0px;
}


#display-method-items {
font-weight: bold;
margin-bottom: 10px;
}


#display-details, #pickup-details{
margin-top: 0px;
}


.summary{
    max-width: 100%;
    margin: 15px;

    display: flex;
}


.payment-title{
margin-top: 10px;
}


hr {
background-color: grey;
}

.cart-summary-column {
    min-width: 50%;
    margin: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.order-summary-column {
    min-width: 50%;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .summary {
        display: block;
    }
    .cart-summary-column {
        align-content: center;
        justify-content: center;
    }

    .order-summary-column {
        align-content: center;
        justify-content: center;
    }

}
