<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MoonWalk Threads{% endblock %}</title>

    <!-- Load static files -->
    {% load static %}

    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
</head>
<body>
    <header>
        <div class="brand-header">
            <img src="{% static 'images/logo.png' %}" alt="MoonWalk Threads Logo" class="brand-logo">
        </div>
    </header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" onclick="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p>SIGN UP FOR MORE</p>
        <label for="phoneNum"></label>
        <label for="emailAddress"></label>
        
        <div>
            <input type="text" id="emailAddress" value='Your email address' autocomplete="on">
            <button type="button">SUBSCRIBE</button>
        
            <input type="text" id="phoneNum" value="Your phone number" autocomplete="on">
            <button type="button" class="button">SUBSCRIBE</button>
        </div>
        
        <a href="https://www.instagram.com/moonwalkthreads/?hl=en">
            <img src="{% static 'images/img.png' %}">
        </a>
        <div class="icon">
            <div class="instagram">
                <img>
            </div>
        </div>
        
        <small>Copyright © 2024 MoonWalk Threads - All Rights Reserved.</small>
        <small>Privacy Policy</small>
        <small>Terms  Conditions</small>
        
    </footer>
</body>
</html>
