<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MoonWalk Threads{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Load static files -->
    {% load static %}

    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/homestyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <script src="https://kit.fontawesome.com/34f0afb215.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <div class="brand-header">
            <img src="{% static 'images/logo.png' %}" alt="MoonWalk Threads Logo" class="brand-logo">
        </div>
    </header>
    <!-- NavBar -->
    <div class="navbar">
        <ul class="links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        <a href="{% url 'cart' %}" class="cart_btn">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <div class="profile_btn open_login">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
    <div class="dropdown">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="#" class="action_btn open_login">Login</a></li>
    </div>
    <!-- The Login Popup -->
    <div id="login-modal" class="login-modal">
        <div class="login-content">
        <span class="login-close">&times;</span>
        <form id="login-form">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
    
            <button type="submit" class="login-btn">Log In</button>
            <div class="forgot-create-container">
                <a href="#" class="forgot-password">Forgot Password</a>
                <a href="#" class="create-account">Create Account</a>
            </div>
        </form>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <footer>
        <p id="header">SIGN UP FOR MORE</p>
        <label for="phoneNum"></label>
        <label for="emailAddress"></label>

        <input type="text" id="emailAddress" value='Your email address' autocomplete="on">
        <button type="button">SUBSCRIBE</button>
        
        <input type="text" id="phoneNum" value="Your phone number"
            onclick="document.getElementById('phoneNum').value=''">
        <button type="button">SUBSCRIBE</button>

        <div class="instaIcon">
        <a href="https://www.instagram.com/moonwalkthreads/?hl=en">
            <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>
        </div>

        <hr id="footerLine">
        <div class="littleThings">
            <div>
                <small>Privacy Policy</small>
                <small>Terms & Conditions</small>
                <small>Contact Us</small>
            </div>
            <small id="bottomLine">Copyright © 2024 MoonWalk Threads - All Rights Reserved.</small>
        </div>

    </footer>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
        }
    </script>
    <script src="{% static 'scripts/login-script.js' %}"></script>
</body>
</html>
