{% extends 'base.html' %}
{% block title %}CheckOut{% endblock %}
<head>
    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}"/>
</head>
{% block content %}
<div class="checkout-page">
    <div id="cart-summary-column">
        {% include 'cartSummary.html' %}
    </div>

    <div id="checkout-column">
        <div class="contact-information">
            <h4>Contact Information</h4>
            <form action="{% url 'paymentPortal' %}" method="post">
                <input type="text" id="customerFirstName" name="firstName" placeholder="First Name"><br>
                <input type="text" id="customerLastName" name="lastName" placeholder="Last Name"><br>
                <input type="email" id="customerEmail" name="email" placeholder="Email Address"><br>
                <input type="text" id="customerPhone" name="phone" placeholder="Phone Number"><br>
                <input type="hidden" id="delivery-method-items" name="delivery-method-items">
            </form>

        </div>
        <div class="order-type">
            <h1>How Would You Like To Get Your Order?</h1>
        </div>


        <!--Tabs for Delivery and Pick Up: Choose which delivery method-->
        <div class="delivery-selection">
            <button class="tablinks" onclick="openTab(event, 'Delivery')">Delivery</button>
            <button class="tablinks" onclick="openTab(event, 'Pickup')">Pick Up at Store</button>
        </div>


        <!--PickUp Method-->
        <div class="tabinfo" id="Pickup">
            <div class="store-pickup">
                <h4>Store Pickup At</h4>
                <br>
                <p>MoonWalk Threads</p>
                <p>Address: 490 High St, Auburn, CA 95603</p>
                <a><button type="submit" class="payment-checkout-button" id="payment-proceed" onclick="proceed()">Payment</button></a>
            </div>
        </div>


        <!--Delivery Method-->
        <div class="tabinfo" id="Delivery">
            <div class="deliver-home">
                <form method="POST" class="shipping-form" id="checkout-form">
                    {% csrf_token %}
                    <!--Shipping Address Information-->
                    <h4>Shipping Address</h4>
                    <input type="text" id="customerStreetAddress" name="streetAddress" placeholder="Street Address" title="Please enter your street address." required><br>
                    <input type="text" id="customerAddressOptional" name="addressOptional" placeholder="Apt, Suite, Building (Optional)"><br>
                    <input type="text" id="customerZipCode" name="zipCode" placeholder="Zip Code"><br>
                    <input type="text" id="customerCity" name="city" placeholder="City"><br>
                    <!--Select States from Drop Down-->
                    <select class="states" id="customerState">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA" selected="selected">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>

                    <!--Contact Information-->
                    <!--<h4>Contact Information</h4>
                    <input type="text" id="customerFirstName" name="firstName" placeholder="First Name"><br>
                    <input type="text" id="customerLastName" name="lastName" placeholder="Last Name"><br>
                    <input type="email" id="customerEmail" name="email" placeholder="Email Address"><br>
                    <input type="text" id="customerPhone" name="phone" placeholder="Phone Number"><br>
                    <input type="hidden" id="delivery-method-items" name="delivery-method-items">-->


                    <button type="submit" class="payment-checkout-button" id="payment-proceed-2" onclick="proceed()">
                        PROCEED TO PAYMENT</button>
                    <!--<button type="submit" class="payment-button">Payment</button>--> <!--For Shippo API Testing purposes-->

                </form>
            </div>

        </div>

    </div>
</div>

<!--<div class="payment-stuff" id="payment" style="display:none">
    <div id="card"></div>
    <a id="payButtonContainer" href="{% url 'paymentPortal' %}">
        <button id="pay" type="button">Pay</button>
    </a>
</div> -->

<!--Script for the Tabs-->
<script>
    var selectedOption = "";
    function openTab(evt, tabName) {
        var i, tabinfo, tablinks;
    
        tabinfo = document.getElementsByClassName("tabinfo");
        for (i = 0; i < tabinfo.length; i++) {
            tabinfo[i].style.display = "none";
        }
    
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
    
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";


        selectedOption = tabName;
        localStorage.setItem('deliveryMethod', selectedOption);
    }
    //Set Delivery to default
    document.getElementsByClassName("tablinks")[0].click();
</script>

<script>
    //store variables from shipping address into LOCAL STORAGE
    document.getElementById('payment-proceed-2').addEventListener('click', function(event) {

        console.log("submitting values");
        var firstName = document.getElementById('customerFirstName').value;
        var lastName = document.getElementById('customerLastName').value;
        var streetAddress = document.getElementById('customerStreetAddress').value;
        var addressOptional = document.getElementById('customerAddressOptional').value;
        var zipCode = document.getElementById('customerZipCode').value;
        var city = document.getElementById('customerCity').value;
        var state = document.getElementById('customerState').value;


        var email = document.getElementById('customerEmail').value;
        var phone = document.getElementById('customerPhone').value;


        localStorage.setItem('customerFirstName', firstName);
        localStorage.setItem('customerLastName', lastName);
        localStorage.setItem('customerStreetAddress', streetAddress);
        localStorage.setItem('customerAddressOptional', addressOptional);
        localStorage.setItem('customerZipCode', zipCode);
        localStorage.setItem('customerCity', city);
        localStorage.setItem('customerState', state);


        localStorage.setItem('customerEmail', email);
        localStorage.setItem('customerPhone', phone);

        this.submit();

        window.location.href = "{% url 'paymentPortal' %}";
    });
</script>

<!-- Shippo Shippment API-->
<!--<script>
    document.getElementById('checkout-form').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent default form submission

        const formData = new FormData(this);

        // Ensure you are sending all the necessary fields correctly
        const data = {
            customerFirstName: formData.get('firstName'),
            customerLastName: formData.get('lastName'),
            customerStreetAddress: formData.get('streetAddress'),
            customerAddressOptional: formData.get('addressOptional') || "", // make sure not null
            customerCity: formData.get('city'),
            customerState: formData.get('state'),
            customerZipCode: formData.get('zipCode'),
            customerEmail: formData.get('email'),
            customerPhone: formData.get('phone')
        };

        // Send data via fetch
        fetch('/submit-address/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: JSON.stringify(data),
            credentials: 'same-origin'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();  // Parse JSON data if successful
        })
        .then(data => {
            console.log('Success:', data);  // Log success message
            alert('Your address has been submitted successfully!');
        })
        .catch(error => {
            console.error('Network error:', error);
            alert('An unexpected error occurred. Please try again.');
        });
    });
</script>-->

<!-- script for payment card-->
<script>
    function showPayment() {
        event.preventDefault();
        var payment = document.getElementById('payment');
        payment.style.display = '';

        var paymentProceed = document.getElementById('payment-proceed');
        paymentProceed.style.display = 'none';
    }

    function proceed() {
        //check if form filled out and send to payment portal
        window.location.href = "{% url 'paymentPortal' %}";
    }
</script>
{% endblock %}