{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact-page max-w-7xl mx-auto p-5">
    <!-- Google Maps Section -->
    <iframe
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJu4AL434Fm4ARolpKDAJriwU&key=AIzaSyCA5TcYi1hpEa0_FtqVGaz4cuQPU1lcRSA"
            alt="Moonwalk Threads location in Auburn, CA" class="w-full h-64 md:h-[450px] rounded-lg mb-5">
    </iframe>

    <!-- Contact Information Section -->
    <div class="contact-info text-left">
        <h2 class="text-2xl font-bold mb-4">Moonwalk Threads</h2>
        <p class="text-lg mb-4"><strong>Address:</strong> 490 High St, Auburn, CA 95603</p>

        <!-- Business Hours -->
        <div class="hours mb-4">
            <h2 class="text-xl font-semibold mb-2">Business Hours</h2>
            <ul class="list-none p-0">
                <li class="flex justify-start text-lg mb-2">
                    <strong class="w-40 text-left">Monday:</strong> <span class="ml-5">Closed</span>
                </li>
                <li class="flex justify-start text-lg mb-2">
                    <strong class="w-40 text-left">Tuesday:</strong> <span class="ml-5">Closed</span>
                </li>
                <li class="flex justify-start text-lg mb-2">
                    <strong class="w-40 text-left">Wednesday:</strong> <span class="ml-5">Closed</span>
                </li>
                <li class="flex justify-start text-lg mb-2">
                    <strong class="w-40 text-left">Thursday:</strong> <span class="ml-5">12 PM - 5 PM</span>
                </li>
                <li class="flex justify-start text-lg mb-2">
                    <strong class="w-40 text-left">Friday:</strong> <span class="ml-5">12 PM - 5 PM</span>
                </li>
                <li class="flex justify-start text-lg mb-2">
                    <strong class="w-40 text-left">Saturday:</strong> <span class="ml-5">12 PM - 5 PM</span>
                </li>
                <li class="flex justify-start text-lg mb-2">
                    <strong class="w-40 text-left">Sunday:</strong> <span class="ml-5">12 PM - 5 PM</span>
                </li>
            </ul>
        </div>

        <!-- Contact Us Details -->
        <h2 class="text-xl font-semibold mb-2">Contact Us</h2>
        <p class="text-lg">
            <strong>Email Address:</strong> <a href="mailto:Moonwalkthreads@gmail.com" class="text-blue-600">Moonwalkthreads@gmail.com</a><br>
            <strong>Phone:</strong> (530) 401-1105
        </p>
    </div>
</div>
{% endblock %}