footer {
    background-color: #F46471;
    font-family: 'Cobito', monospace;
    font-style: normal;
    text-align: center;
}



#header {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.15px;
    color: #000000;
    margin: auto
}

#phoneNum {
    box-sizing: border-box;

    min-width: 255px;
    min-height: 29px;

    border: 1px solid #000000;
    border-radius: 5px;

    align-self: center;
}

#emailAddress {
    box-sizing: border-box;

    min-width: 255px;
    min-height: 29px;
    left: 17px;
    bottom: 139px;

    border: 1px solid #000000;
    border-radius: 5px;
}

/* Subscribe button */
button {
    align-self: end;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    margin: auto;
    text-align: center;
    letter-spacing: 0.5px;

    color: #F46471;

    background: #000000;
    border: none;
    border-radius: 5px;
    min-width: 102px;
    min-height: 29px;
    padding: 5px;
}

div  {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 5px;
}



