{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}
{% block content %}
<h1>Shop</h1>
<!-- Dropdown Button for Categories -->
<div class="shop-filter">
    <button class="shop-filter-button" onclick="toggleDropdown()">Filter</button>
    <div class="shop-filter-content" id="shop-filter-content">
        <a href="{% url 'shop' %}">All Products</a>
        {% for category in categories %}
            <a href="{% url 'shop-category' category.name %}">{{ category.name }}</a>
        {% endfor %}
    </div>
</div>

<section class="shop-product-section">
    <div class="shop-product-grid">
        {% for product in products %}
        <div class="shop-product-card">
            <!-- Image -->
            <img class="shop-product-image" src="{{ product.image.url }}" alt="Product Image" />
            <!-- Details -->
            <div class="shop-product-body">
                <h5 class="shop-product-title">{{ product.name }}</h5>
                <p class="shop-product-price">${{ product.price }}</p>
                <p class="shop-product-price">{{ product.size }}</p>
            </div>
            <!-- Actions -->
            <div class="shop-product-footer">
                <a class="btn btn-outline-dark" href="{% url 'productDetails' product.id %}">View Product</a>
                <button class="btn btn-outline-dark shop-add-to-cart-btn" data-id="{{ product.id }}">Add to Cart</button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Function to toggle the dropdown menu
    function toggleDropdown() {
        document.getElementById("shop-filter-content").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.shop-filter-button')) {
            var dropdowns = document.getElementsByClassName("shop-filter-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

{% endblock %}
