body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: left;
    font-size: 22px;
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
}

a.viewmore_button {
    background-color: #F46471;
    color: black;
}

/* Contact Information Styling */
.contact-info h2, .contact-info p {
    text-align: left;
    margin: 10px 0;
}

.hours {
    text-align: left;
    margin: 20px 0;
}

.hours ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hours li {
    font-size: 14px;
    padding: 3px 0;
    padding-left: 50px; 
}

/* Map Styling*/
iframe {
    width: 100%;   
    height: 300px; 
    border: 0;
    margin: 20px 0; 
    border-radius: 15px; /* Rounding the edges */
    overflow: hidden; /* Ensures content does not overflow */
}

@media (min-width: 768px) {
    iframe {
        width: 70%; /* Adjust map size for larger screens */
        height: 400px;
    }
}